.a-row.as-dark
  .row
    .small-12.columns
      %h1.a-row--headline
        Spieltag
        = l(@matchday.date, format: :short)
.a-row
  .row
    .small-12.medium-6.columns
      %h2.a-row--headline Heimteam
    .small-12.medium-6.columns
      %h2.a-row--headline Gastteam
